*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #90AACB;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__container{
    background-color: white;
    border-radius: 20px;
}

#illustrationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.illus{
    max-height: 500px;
}