*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: #90AACB;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper__container{
    background-color: white;
    border-radius: 20px;
}

.wrapper__signupForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}